<%= render 'shared/navbar' %>
<div class='w-100 about-us'>
  <div class="row align-items-center align-self-center">
    <div class="col-4 p-5">
      <h2 class='h2-wwd text-center pb-5'>
        TEAM DHARMA
      </h2>
      <p class='p-wwd text-center'>
        We want to disrupt the news consuming industry by building the nex-level tool of decision making
      </p>
    </div>
    <div class="col-4">
      <div class="card-trip-infos">
        <%= image_tag "lucas.jpg", class: 'image-wwdcard card-trip-user avatar-bordered' %>
        <div class="d-flex">
          <h2 class="mr-4">Lucas Carvalho</h2>
          <a href="https://www.linkedin.com/in/lucas-paiva-de-carvalho-9aa95567" target="_blank" class="ml-4 pt-2">
            <i class="fab fa-linkedin linkedin"></i>
          </a>
        </div>
        <p>Co-founder</p>
      </div>
      <div class="card-trip-infos card-trip2">
        <%= image_tag "rafael.jpg", class: 'image-wwdcard card-trip-user avatar-bordered' %>
        <div class="d-flex">
          <h2 class="mr-4">Rafael Grimaldi</h2>
          <a href="https://www.linkedin.com/in/rafael-grimaldi-b88b2697" target="_blank" class="ml-4 pt-2">
            <i class="fab fa-linkedin linkedin"></i>
          </a>
        </div>
        <p>Co-founder</p>
      </div>
    </div>
    <div class="col-4">
      <div class="card-trip-infos">
        <%= image_tag "marcio.jpg", class: 'image-wwdcard card-trip-user avatar-bordered' %>
        <div class="d-flex">
          <h2 class="mr-4">Marcio Garcia</h2>
          <a href="https://www.linkedin.com/in/marcio-pereira-garcia-3b92a515" target="_blank" class="ml-4 pt-2">
            <i class="fab fa-linkedin linkedin"></i>
          </a>
        </div>
        <p>Co-founder</p>
      </div>
      <div class="card-trip-infos card-trip2">
        <%= image_tag "tobias.jpg", class: 'image-wwdcard card-trip-user avatar-bordered' %>
        <div class="d-flex">
          <h2 class="mr-4">Tobias Ferreira</h2>
          <a href="https://www.linkedin.com/in/soutobias" target="_blank" class="ml-4 pt-2">
            <i class="fab fa-linkedin linkedin"></i>
          </a>
        </div>
        <p>Co-founder</p>
      </div>
    </div>
  </div>
</div>
