<%= render 'shared/navbar' %>
<div class="banner-wwd d-flex align-items-center">
    <div class="container text-center justify-content-center">
      <h1 class="font-weight-bold banner-1-h1 align-middle pt-5">NEXT STEPS</h1>
    </div>
</div>
<div class="container-d row">
  <div class="col-12 offset-md-1">
    <div class="row mt-5">
      <div class="col-4 offset-md-1">
        <%= image_tag "brazil2.jpg", class: 'image-wwd5' %>
      </div>
      <div class="col-4 offset-md-2 text-center align-middle">
        <p class="p2-wwd align-middle">
          How Brazil is being seen abroad in the last two years?
        </p>
        <p class="p2-wwd align-middle">
          What is the main topics? Bolsonaro? COVID? Economy?
        </p>
        <p class="p2-wwd align-middle">
          Let's take a look at some analyzes of Brazil during the coronavirus pandemic
        </p>
      </div>
    </div>
    <div class="col-12 offset-md-1">
      <%= render "3d", cache: true %>
    </div>
    <div class="d-flex mt-4">
      <%= render "b2", cache: true %>
      <%= render "b3", cache: true %>
    </div>
  </div>
</div>
