<%= render 'shared/navbar' %>
<div class="banner-wwd d-flex align-items-center">
    <div class="container text-center justify-content-center">
      <h1 class="font-weight-bold banner-1-h1 align-middle">STUDY CASE</h1>
    </div>
</div>
<div class="container-d row">
  <div class="col-12 offset-md-1">
    <div class="row mt-5">
      <div class="col-4 offset-md-1">
        <%= image_tag "trump_hillary.png", class: 'image-wwd2' %>
      </div>
      <div class="col-4  offset-md-2 text-center">
        <p class="p2-wwd">
          How did Donald Trump transform himself from a "meme" to a real candidate for the American presidency?
        </p>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 offset-md-1">
        <ul class="list-inline tabs-underlined w-100 justify-content-center mt-5">
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 1 %>
                <%= submit_tag "JAN-FEB", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "JAN-FEB", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 2 %>
                <%= submit_tag "MAR-APR", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "MAR-APR", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 3 %>
                <%= submit_tag "MAY-JUN", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "MAY-JUN", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 4 %>
                <%= submit_tag "JUL-AUG", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "JUL-AUG", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 5 %>
                <%= submit_tag "SET-OUT", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "SET-OUT", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 6 %>
                <%= submit_tag "NOV-DEZ", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "NOV-DEZ", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex mt-4">
      <% if @value == 1 %>
        <%= render "t9"%>
        <%= render "t5"%>
      <% elsif @value == 2 %>
        <%= render "t5"%>
        <%= render "t9"%>
      <% elsif @value == 3 %>
        <%= render "t1"%>
        <%= render "t2"%>
      <% elsif @value == 4 %>
        <%= render "t9"%>
        <%= render "t5"%>
      <% elsif @value == 5 %>
        <%= render "t9"%>
        <%= render "t5"%>
      <% elsif @value == 6 %>
        <%= render "t9"%>
        <%= render "t5"%>
      <% end %>
    </div>
  </div>
</div>
