<%= render 'shared/navbar' %>
<div class="banner-wwd d-flex align-items-center">
    <div class="container text-center justify-content-center">
      <h1 class="font-weight-bold banner-1-h1 align-middle pt-5">STUDY CASE</h1>
    </div>
</div>
<div class="container-d row">
  <div class="col-12 offset-md-1">
    <div class="row mt-5">
      <div class="col-12 offset-md-1">
        <%= image_tag "election2.jpg", class: 'image-wwd3' %>
      </div>
      <div class="col-12  offset-md-1 text-center mt-5">
        <p class="p-wwd">
          As per our analysis, it is clear to see that Trump had much more exposure than other candidates (<span style="background-color: red">red squares</span>
          against <span style="background-color: blue">blue squares</span>).
          Even in topics that do not concern him, news made a way of showing his controversial thoughts. Looking back now seems that this much exposure had served him well.
          Also, his violent discourse seemed to match the violent period in that year (<span style="background-color: green">green squares</span>).
          We are not saying that by looking at our analysis one could infer the election results, but we tend to believe that
          'Trump being elected' odds could be better than what the polls were showing<a href="https://www.thewrap.com/every-poll-that-got-election-wrong-donald-trump/">ยน</a>.
          And sometimes just one day ahead, one extra percentage point it is all that matters.
        </p>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 offset-md-1">
        <ul class="list-inline tabs-underlined w-100 justify-content-center mt-5">
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 1 %>
                <%= submit_tag "JAN-FEB", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "JAN-FEB", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 2 %>
                <%= submit_tag "MAR-APR", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "MAR-APR", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 3 %>
                <%= submit_tag "MAY-JUN", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "MAY-JUN", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 4 %>
                <%= submit_tag "JUL-AUG", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "JUL-AUG", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 5 %>
                <%= submit_tag "SET-OUT", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "SET-OUT", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= form_tag study_case_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
              <% if @value == 6 %>
                <%= submit_tag "NOV", class: "btn btn-success align-middle button" %>
              <% else %>
                <%= submit_tag "NOV", class: "btn btn-outline-success align-middle button" %>
              <% end %>
            <% end %>
          </li>
          <% if @value == 1 %>
            <li>
              <div class="pt-3 mt-5">
                <p class="btn btn-danger align-middle button" id='show1'>ANALISYS</p>
              </div>
            </li>
          <% end %>
          <% if @value == 5 %>
            <li>
              <div class="pt-3 mt-5">
                <p class="btn btn-danger align-middle button" id='show5'>ANALISYS</p>
              </div>
            </li>
          <% end %>
          <% if @value == 6 %>
            <li>
              <div class="pt-3 mt-5">
                <p class="btn btn-danger align-middle button" id='show6'>ANALISYS</p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% if @value == 1 %>
      <div class="inactive-tab offset-md-1" id='sh1'>
        <%= image_tag "image18.jpg", class: 'image-wwd10' %>
      </div>
    <% end %>
    <% if @value == 5 %>
      <div class="inactive-tab offset-md-1" id='sh5'>
        <%= image_tag "image18.jpg", class: 'image-wwd10' %>
      </div>
    <% end %>
    <% if @value == 6 %>
      <div class="inactive-tab offset-md-1" id='sh6'>
        <%= image_tag "image18.jpg", class: 'image-wwd10' %>
      </div>
    <% end %>
    <div class="d-flex mt-4">
      <% if @value == 1 %>
        <%= render "t1", cached: true %>
        <%= render "t2", cached: true %>
      <% elsif @value == 2 %>
        <%= render "t3", cached: true %>
        <%= render "t4", cached: true %>
      <% elsif @value == 3 %>
        <%= render "t5", cached: true %>
        <%= render "t6", cached: true %>
      <% elsif @value == 4 %>
        <%= render "t7", cached: true %>
        <%= render "t8", cached: true %>
      <% elsif @value == 5 %>
        <%= render "t9", cached: true %>
        <%= render "t10", cached: true %>
      <% elsif @value == 6 %>
        <div class="row">
          <div class="col-12 offset-md-6">
            <%= render "t11", cached: true %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
