<div class="banner-wwd d-flex align-items-center">
    <div class="container text-center justify-content-center">
      <h1 class="font-weight-bold banner-1-h1 align-middle">STUDY CASE</h1>
    </div>
</div>

<div class="container cont-2">
  <div class="row">
    <div class="col-6">
      <%= image_tag "trump_hillary.png", class: 'image-wwd2' %>
    </div>
    <div class="col-6">
      <p class="p-wwd">
        Como Donald Trump se transformou de um "meme" a um candidato real à presidência americana?
      </p>
    </div>
  </div>
  <ul class="list-inline tabs-underlined w-100 justify-content-center mt-5">
    <li>
      <%= image_tag "number1.png", class: "tab-underlined active", id:"tab01" %>
    </li>
    <li>
      <%= image_tag "number2.png", class: "tab-underlined", id:"tab02" %>
    </li>
    <li>
      <%= image_tag "number3.png", class: "tab-underlined", id:"tab03" %>
    </li>
    <li>
      <%= image_tag "number4.png", class: "tab-underlined", id:"tab04" %>
    </li>
    <li>
      <%= image_tag "number5.png", class: "tab-underlined", id:"tab05" %>
    </li>
    <li>
      <%= image_tag "number6.png", class: "tab-underlined", id:"tab06" %>
    </li>
    <li>
      <%= image_tag "number7.png", class: "tab-underlined", id:"tab07" %>
    </li>
    <li>
      <%= image_tag "number8.png", class: "tab-underlined", id:"tab08" %>
    </li>
    <li>
      <%= image_tag "number9.png", class: "tab-underlined", id:"tab09" %>
    </li>
    <li>
      <%= image_tag "number10.png", class: "tab-underlined", id:"tab10" %>
    </li>
    <li>
      <%= image_tag "number11.png", class: "tab-underlined", id:"tab11" %>
    </li>
    <li>
      <%= image_tag "number12.png", class: "tab-underlined", id:"tab12" %>
    </li>
  </ul>
  <div class="row" id='tab-01'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t1"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-02'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t2"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-03'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t3"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-04'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t4"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-05'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t5"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-06'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t6"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-07'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t7"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-08'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t8"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-09'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t9"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-10'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t10"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-11'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t11"%>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-12'>
    <div class="col-3">
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-9">
      <%= render "t12"%>
    </div>
  </div>
</div>
