<%= render 'shared/navbar' %>
<div class="banner-wwd d-flex align-items-center">
    <div class="container text-center justify-content-center">
      <h1 class="font-weight-bold banner-1-h1 align-middle pt-5">WHAT WE DO</h1>
    </div>
</div>
<div class="container cont-2">
  <ul class="list-inline tabs-underlined w-100 justify-content-center">
    <li>
      <%= image_tag "number1.png", class: "tab-underlined active", id:"tab1" %>
    </li>
    <li>
      <%= image_tag "number2.png", class: "tab-underlined", id:"tab2" %>
    </li>
    <li>
      <%= image_tag "number3.png", class: "tab-underlined", id:"tab3" %>
    </li>
    <li>
      <%= image_tag "number4.png", class: "tab-underlined", id:"tab4" %>
    </li>
    <li>
      <%= image_tag "number5.png", class: "tab-underlined", id:"tab5" %>
    </li>
    <li>
      <%= image_tag "number6.png", class: "tab-underlined", id:"tab6" %>
    </li>
    <li class='inactive-tab'>
      <%= image_tag "number7.png", class: "tab-underlined", id:"tab7" %>
    </li>

  </ul>
  <div class="row text-center" id='tab-1'>
    <div class="col-12">
      <p class="p-wwd">
        We are bombarded with <span style="background-color: red"><strong>news</strong></span> and news at <span style="background-color: red"><strong>all times</strong></span> and we believe that every text is a reflection of the society in which the author is inserted, and that, just as <strong>news influences us</strong>, we influence the news, in a reflexive movement. In this way, we seek to show which are the <span style="background-color: red"><strong>current narratives</strong></span> and which are possible <span style="background-color: red"><strong>emerging narratives</strong></span>.
      </p>
    </div>
    <div class="col-4">
      <%= image_tag "jornal.png", class: 'image-wwd2' %>
    </div>
    <div class="col-4">
      <%= image_tag "giphy_1.gif", alt: "this slowpoke moves",  class: 'image-wwd3' %>
    </div>
    <div class="col-4">
      <%= image_tag "giphy.gif", alt: "this slowpoke moves",  class: 'image-wwd2' %>
    </div>
  </div>
  <div class="row inactive-tab text-center" id='tab-2'>
    <div class="col-12">
      <p class="p2-wwd">
        <strong>We are not looking for the so-called 'truth'</strong> nor do we intend to make a prediction of the future. We do want to find common knowledge, or what agents believe other agents believe to be the 'truth'.
      </p>
      <p class="p2-wwd">
        So we look to answer two questions...
      </p>

      <p class="p3-wwd"><span style="background-color: red">When do narratives change and what is already 'priced in'?</span></p>
      <p class="p3-wwd"><span style="background-color: red">Who said what and why?</span></p>
    </div>
  </div>
  <div class="row inactive-tab text-center"  id='tab-3'>
    <div class="col-12">
      <h2 class='h2-wwd pb-3'>
        It happens that...
      </h2>
      <p class='p2-wwd'>
        With all possible <span style="background-color: red">NARRATIVES</span> out there, which one should <span style="background-color: red">WE MONITOR</span>? Which will prevail? How those narratives end up influencing our own opinions and preventing us to know <span style="background-color: red">WHAT REALLY MATTERS</span> to make a <span style="background-color: red">DECISION</span>!
      </p>
    </div>
  </div>
  <div class="row inactive-tab text-center"  id='tab-4'>
    <div class="col-6">
      <p class="p-wwd">
        Using <span style="background-color: red">state-of-the-art algorithms</span>, we propose a topological search through relationships between actors, facts and available information. Supported by a strong theoretical basis involving graph theory, complex systems analysis, network analysis, information theory, game theory and discourse analysis to <span style="background-color: red">offer differentiated insights based on news</span>.
      </p>
    </div>
    <div class="col-6">
      <%= image_tag "giphy_3.gif", alt: "this slowpoke moves",  class: 'image-wwd2' %>
    </div>
  </div>
  <div class="row inactive-tab text-center"  id='tab-5'>
    <div class="col-12">
      <p class="p-wwd">
        Meet the <span style="background-color: red">'next level'</span> of news consuming and search for narratives and trends, in a profound analysis not offered in the market, be as news agnostic as possible to opinions with the tools we offer. We are not looking for the short term trend or to bullseye the exact day a narrative is created, but rather find emerging and persistinting narratives.
      </p>
    </div>
    <div class="col-12">
      <p class="p2-wwd">
        That's why it's created...
      </p>
    </div>
    <div class="col-12">
      <%= image_tag "banner.jpg", alt: "this slowpoke moves",  class: 'image-wwd3' %>
    </div>
    <div class="col-12">
      <p class="p-small-wwd pt-5">
        *According to Wikipedia, "There is no single word translation for "dharma" in Western languages. The meaning of the word "dharma" depends on context, and its meaning has evolved as the ideas of Hinduism have developed over its long history, in older texts, dharma meant cosmic law. In later Vedas, the meaning became refined, richer, complex, and the word "dharma" was applied in different contexts."
        We like the interpretation of the word that "dharma designates human behaviors considered necessary in the universe, principles that prevent chaos" and our search is through the chaotic relations between agents and narratives that move the world. Also, this other passage "with respect to its spiritual meaning, it can be considered as the "Way to Higher Truth". In a way, excusing the mixing of different meanings and with all due respect to its sacred meaning, we are somehow also searching for some truth, even though we don't, by all means, have the pretension to call it higher truth.
      </p>
    </div>
  </div>
  <div class="row inactive-tab justify-content-around align-middle align-items-center text-center"  id='tab-6'>
    <div class="col-12">
      <p class="p3-wwd">
        We want to do...
      </p>
    </div>
    <div class="col-12 offset-md-1">
      <%= render "3d", cache: true%>
    </div>
  </div>
  <div class="row inactive-tab justify-content-around align-middle align-items-center"  id='tab-7'>
  </div>
</div>
