<div class="banner-wwd d-flex align-items-center">
    <div class="container text-center justify-content-center">
      <h1 class="font-weight-bold banner-1-h1 align-middle">WHAT WE DO</h1>
    </div>
</div>

<div class="container cont-2">
  <ul class="list-inline tabs-underlined w-100 justify-content-center">
    <li>
      <%= image_tag "number1.png", class: "tab-underlined active", id:"tab1" %>
    </li>
    <li>
      <%= image_tag "number2.png", class: "tab-underlined", id:"tab2" %>
    </li>
    <li>
      <%= image_tag "number3.png", class: "tab-underlined", id:"tab3" %>
    </li>
    <li>
      <%= image_tag "number4.png", class: "tab-underlined", id:"tab4" %>
    </li>
    <li>
      <%= image_tag "number5.png", class: "tab-underlined", id:"tab5" %>
    </li>
    <li>
      <%= image_tag "number6.png", class: "tab-underlined", id:"tab6" %>
    </li>
    <li>
      <%= image_tag "number7.png", class: "tab-underlined", id:"tab7" %>
    </li>

  </ul>
  <div class="row" id='tab-1'>
    <div class="col-6">
      <%= image_tag "jornal.png", class: 'image-wwd1' %>
    </div>
    <div class="col-6">
      <h2 class='h2-wwd'>
        Contexto
      </h2>
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
  </div>
  <div class="row inactive-tab" id='tab-2'>
    <div class="col-3">
      <%= image_tag "giphy.gif", alt: "this slowpoke moves",  class: 'image-wwd2' %>
    </div>
    <div class="col-6">
      <h2 class='h2-wwd'>
        Contexto
      </h2>
      <p class="p-wwd">
        Somos bombardeados com notícias a todo momento
      </p>
    </div>
    <div class="col-3">
      <%= image_tag "giphy_1.gif", alt: "this slowpoke moves",  class: 'image-wwd3' %>
    </div>
  </div>
  <div class="row inactive-tab"  id='tab-3'>
    <div class="col-12">
      <%= image_tag "giphy_2.gif", alt: "this slowpoke moves",  class: 'image-wwd4' %>
    </div>
  </div>
  <div class="row inactive-tab"  id='tab-4'>
    <div class="col-6">
      <h2 class='h2-wwd'>
        Acontece que...
      </h2>
    </div>
    <div class="col-6">
      <p class="p-wwd">
        ...todas essas INÚMERAS NARRATIVAS acabam por INFLUENCIAR nossa formação de OPINIÃO, sem que sejamos capazes de entender O QUE REALMENTE SABEMOS e O QUE REALMENTE IMPORTA para tomarmos uma DECISÃO!
      </p>
    </div>
  </div>
  <div class="row inactive-tab"  id='tab-5'>
    <div class="col-12">
      <p class="p-wwd">
        E se fosse possível saber, usando tecnologia e ciência de dados, quais as NARRATIVAS VIGENTES/EMERGENTES e assim tomar uma DECISÃO VERDADEIRAMENTE FUNDAMENTADA?
      </p>
      <%= image_tag "giphy_3.gif", alt: "this slowpoke moves",  class: 'image-wwd5' %>
    </div>
  </div>
  <div class="row inactive-tab justify-content-around align-middle align-items-center"  id='tab-6'>
    <div class="col-6">
      <p class="p-wwd">
        That's how it's founded...
      </p>
    </div>
    <div class="col-6">
      <%= image_tag "banner.jpg", alt: "this slowpoke moves",  class: 'image-wwd1' %>
    </div>
  </div>
  <div class="row inactive-tab justify-content-around align-middle align-items-center"  id='tab-7'>
    <div class="col-12">
      <p class="p-wwd">
        We want to do...
      </p>
    </div>
    <div class="col-12">
      <%= image_tag "giphy_3.gif", alt: "this slowpoke moves",  class: 'image-wwd5' %>
    </div>
  </div>
</div>
